<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>26223871694-mgro9k51ia6cevkp5chburou7nkjnbi1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.26223871694-mgro9k51ia6cevkp5chburou7nkjnbi1</string>
	<key>API_KEY</key>
	<string>AIzaSyCM-U-UHiVaGgzPEsrRsVKjN8tJW-09_Wo</string>
	<key>GCM_SENDER_ID</key>
	<string>26223871694</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rnboilerplate</string>
	<key>PROJECT_ID</key>
	<string>rn-boilerplate-o16</string>
	<key>STORAGE_BUCKET</key>
	<string>rn-boilerplate-o16.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:26223871694:ios:1562de560278b80c59f29f</string>
</dict>
</plist>